@media only screen and (max-width: 767px){
    body{
        font-size: 14px;
    }
    h1{
        font-size: 40px;
    }
    h4{
        font-size: 22px;
    }
    p{
        font-size: 11px;
    }
    i{
        size: ;
    }
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
